[phases.setup]
nixPkgs = ['python311', 'pip']

[phases.install]
cmds = [
  'pip install --upgrade pip',
  'pip install --no-cache-dir -r requirements.txt'
]

[phases.build]
cmds = []

[start]
cmd = 'uvicorn main:app --host 0.0.0.0 --port $PORT'
